* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 20px/1.5 'Lato', sans-serif;

}

h1 {
    font-weight: bold;
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.site-section.site-header .left-side {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.site-section.site-header #logo {
    height: 60px;
}

.site-section.site-header .left-side h1 {
    color: #FF784F;
    text-shadow: rgba(0, 0, 0, 0.10) 2px 3px 5px;
    transition: 0.5s ease;
}

.site-section.site-header .left-side h1:hover {
    cursor: pointer;
    color: #a31728;
    transition: 0.5s ease;
}

.site-header nav ul {
    display: flex;
    list-style: none;
}

.site-header ul li {
    padding-top: 0.5em;
    padding-right: 2em;
}

.site-header a {
    text-decoration: none;
}

.site-header ul span {
    background-color: #FF784F;
    padding: 0.6em 1em;
    border-radius: 1em;
    color: white;
    transition: 0.5s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.site-header ul span:hover {
    cursor: pointer;
    background-color: #a31728;
    transition: 0.5s ease;
}


.specialists-select {
    margin: 0 auto;
    width: 50%;
    background-color: #FF784F;
    color: white;
    border-radius: 2em;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.specialists-select form {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specialists-select select {
    font-size: 1em;
    height: 5vh;
    width: 40%;
    border: none;
    padding-left: 1em;
    border-radius: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.specialists-select button {
    font-size: 1em;
    color: #FF784F;
    font-weight: bold;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border: none;
    border-radius: 2em;
    padding: 1em;
    transition: 0.5s ease;
}

.specialists-select option {
    border-radius: 1em;
}

.specialists-select button:hover {
    cursor: pointer;
    background-color: #a31728;
    transition: 0.5s ease;
    color: white;
}

.doctors-display {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    padding: 1em;
}

.col {
    max-width: 600px;
}

.card {
    overflow: hidden;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.card .btn.btn-primary {
    align-self: center;
    width: 70%;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #FF784F;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    padding: 0.3em;
    border: none;
    border-radius: 2em;
    transition: 0.5s ease;
}


.card .btn.btn-primary:hover {
    cursor: pointer;
    background-color: #a31728;
    transition: 0.5s ease;
    color: white;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.image-box {
    width: 300px;
    height: 250px;
    aspect-ratio: 1/1;
}

.card .card-body {
    padding: 0.5em 0.5em 0.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.appointments {
    padding: 1em;
    text-align: center;
    background-color: white;
    width: 800px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 1001;
}

.appointments .date {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 5em;
    font-weight: 600;
}

.appointments .date a {
    flex: 1;
}

.site-container {
    padding-bottom: 2em;
}

#no-doctors {
    padding-top: 2em;
    text-align: center;
}
.site-section.site-footer {
    text-align: center;
    font-weight: bold;
    padding-top: 3em;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.backdrop.active {
    display: block;
}




