<header class="site-section site-header">
    <div class="left-side">
        <img src="/images/Screenshot_1-Photoroom.png" alt="logo" id="logo">
        <a th:href="@{/}"><h1 >| Doctorly</h1></a>
    </div>

    <nav>
        <ul>
            <li sec:authorize="isAnonymous()"><a th:href="@{users/login}"><span >Login</span></a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{users/signup}"><span>Register</span></a></li>
            <li sec:authorize="isAuthenticated()"><span>My Appointments</span></li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{users/logout}"><span>Logout</span></a>
            </li>
        </ul>
    </nav>
</header>