<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
    <th:block th:insert="~{fragments/nav-header}"></th:block>


    <div class="site-container">
        <div class="specialists-select">
            <th:block th:insert="~{fragments/form-select-specialists}"></th:block>
        </div>
    </div>

    <h1 th:if="${message}" th:text="${message}" id="no-doctors"></h1>
    <div class="doctors-display">
        <div class="col" th:each="doctor: ${doctors}">
            <div class="card">
                <div class="image-box">
                    <img th:src="${doctor.profilePictureUrl}">
                </div>
                <div class="card-body">
                    <h4 class="card-title" th:text="${doctor.firstName} + ' ' + ${doctor.lastName}"></h4>
                    <h5 th:text="${doctor.cityName}"></h5>
                    <p class="card-text" th:text="${doctor.description}"></p>
                    <span class="btn btn-primary">Book Appointment</span>
                </div>

                <div class="backdrop"></div>
                <div class="appointments" style="display:none">
                    <h1>Available dates</h1>
                    <div class="dates">
                        <div class="date" th:each="appointment : ${doctor.appointments}">
                            <p th:text="${appointment.appointmentDateTime}"></p>
                            <span th:attr="data-id=${appointment.id}" class="btn btn-primary">Book Appointment</span>
                        </div>
                    </div>
                    <h5 class="feedback" style="opacity: 0; transition: opacity 1s ease;"></h5>
                </div>
            </div>
        </div>
    </div>

    <th:block th:insert="~{fragments/footer}"></th:block>

<script>
    const backdrop = document.querySelector(".backdrop");

    document.querySelectorAll(".card-body .btn.btn-primary").forEach(button => button.addEventListener("click", (e) => {
        const card = e.target.closest("div.card");
        const modal = card.children.item(3);

        modal.style.display = "block";
        backdrop.classList.add("active");

        const closeModal = (event) => {

            if (!modal.contains(event.target) && !button.contains(event.target)) {
                modal.style.display = "none";
                backdrop.classList.remove("active");

                document.body.removeEventListener("click", closeModal);
            }
        };

        document.body.addEventListener('click', closeModal);
    }));

    document.querySelectorAll(".appointments .btn.btn-primary").forEach(button => {
        button.addEventListener("click", (e) => {
            const appointmentId = button.getAttribute("data-id");

            fetch(`/book-appointment/${appointmentId}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                }
            })
                .then(response => response.json().then(data => ({ status: response.status, body: data })))
                .then(({ status, body }) => {
                    const feedback = e.target.closest(".appointments").querySelector(".feedback");

                    if (status === 200) {
                        feedback.style.color = "green";
                        feedback.textContent = body.message;

                        const dateElement = button.closest(".date");
                        dateElement.parentNode.removeChild(dateElement);
                    } else if (status === 401) {
                        window.location.href = "users/login";
                    } else {
                        feedback.style.color = "red";
                        feedback.textContent = body.message;
                    }

                    feedback.style.opacity = "1";
                    setTimeout(() => {
                        feedback.style.opacity = "0";
                    }, 3000);
                })
                .catch(error => console.error("Error booking appointment:", error));
        });
    });
</script>
</body>
</html>
