<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
    <th:block th:insert="~{fragments/nav-header}"></th:block>


    <div class="site-container">
        <div class="specialists-select">
            <th:block th:insert="~{fragments/form-select-specialists}"></th:block>
        </div>
    </div>

    <h1 th:if="${message}" th:text="${message}" id="no-doctors"></h1>
    <div class="doctors-display">
        <div class="col" th:each="doctor: ${doctors}">
            <div class="card">
                <div class="image-box">
                    <img th:src="${doctor.profilePictureUrl}">
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${doctor.firstName} + ' ' + ${doctor.lastName}"></h5>
                    <h6 th:text="${doctor.city.name}"></h6>
                    <p class="card-text" th:text="${doctor.description}"></p>
                    <a href="#" class="btn btn-primary">Book Appointment</a>
                </div>
            </div>
        </div>
    </div>

    <th:block th:insert="~{fragments/footer}"></th:block>

</body>
</html>
