<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | Doctorly </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <header class="site-section site-header">
        <div class="left-side">
            <img th:src="@{/images/Screenshot_1-Photoroom.png}" alt="logo" id="logo">
            <h1>| Doctorly</h1>
        </div>
        


        <nav>
            <ul>
                <th:block th:if="${isLogged == false}">
                    <li><a th:href="@{users/login}"><span >Login</span></a></li>
                    <li><a th:href="@{users/signup}"><span>Register</span></a></li>
                </th:block>
                <th:block th:if="${isLogged == true}">
                    <li><span>My Appointments</span></li>
                </th:block>
            </ul>
        </nav>
    </header>

    <div class="site-section intro">
        <div class="side-text">
            <div class="text-content">
                <h1>Welcome to Doctorly!</h1>
                <h3>Your specialist is just one click away!</h3>
            </div>
            <img th:src="@{/images/06b185e5b2322f1ab0557db59b554cd5-jXyzRkSCB-transformed.png}" alt="doctor">
        </div>

        <div class="specialists-select">
            <h2>Find the Right Expert for Your Health Needs!</h2>
            <form th:action="@{/search}" method="get">
                <select name="specialists">
                    <option value="">Select specialization</option>
                    <option th:each="specialization : ${specializations}"
                            th:value="${specialization}"
                            th:text="${specialization}"></option>
                </select>

                <select name="city">
                    <option value="">Select your city</option>
                    <option th:each="city : ${cities}"
                            th:value="${city}"
                            th:text="${city}"></option>
                </select>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <footer class="site-section site-footer">
        <p>&copy; 2024 Doctorly. All Rights Reserved.</p>
    </footer>

</body>
</html>
