<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
    <header class="site-section site-header">
        <img src="/images/Screenshot_1-Photoroom.png" alt="logo" id="logo">
        <h1>Welcome back!</h1>
    </header>
    
    <div class="site-section site-form">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-body p-5">
                <form th:method="POST" th:action="@{/users/login}">
                    <div class="form-floating mb-3">
                        <input name ="email" type="email" class="form-control rounded-3"
                               th:classappend="${loginError} ? 'is-invalid' : ''" id="floatingEmail">
                        <label for="floatingEmail">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name = "password" type="password" class="form-control rounded-3"
                               th:classappend="${loginError} ? 'is-invalid' : ''" id="floatingPassword">
                        <label for="floatingPassword">Password</label>
                        <th:block th:if="${loginError} == true">
                            <div class="invalid-feedback">
                                Invalid email or password!
                            </div>
                        </th:block>

                    </div>

                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Log in</button>
                    <hr>
                    <div class="login">
                        <small class="text-body-secondary">Don't have an account? <a th:href="@{/users/signup}"><span>Sign up</span></a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <th:block th:insert="~{fragments/footer}"></th:block>

</body>
</html>
