<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
    <header class="site-section site-header">
        <img src="/images/Screenshot_1-Photoroom.png" alt="logo" id="logo">
        <h1>Join Now to Schedule Your Visit!</h1>
    </header>
    
    <div class="site-section site-form">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-body p-5">
                <form>
                    <div>
                        <div class="form-floating mb-3">
                            <input name ="firstName" type="text" class="form-control rounded-3"
                                   id="floatingFirstName">
                            <label for="floatingFirstName">First Name</label>
                        </div>
                        

                        <div class="form-floating mb-3">
                            <input name="lastName" type="text" class="form-control rounded-3" id="floatingLastName">
                            <label for="floatingLastName">Last Name</label>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input name="dateOfBirth" type="date" class="form-control rounded-3" id="floatingDate">
                        <label for="floatingDate">Date of Birth</label>
                        <div class="invalid-feedback" style="display:none">
                            Must be at least 18 years old!
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input name="email" type="email" class="form-control rounded-3" id="floatingInput">
                        <label for="floatingInput">Email address</label>
                        <div class="invalid-feedback" style="display:none">

                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input name="password" type="password" class="form-control rounded-3" id="floatingPassword">
                        <label for="floatingPassword">Password</label>
                        <div class="invalid-feedback" style="display:none">
                            Password should be at least 6 characters long and shouldn't contain special characters!
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input name="confirmPassword" type="password" class="form-control rounded-3" id="floatingConfirmPassword">
                        <label for="floatingConfirmPassword">Confirm Password</label>
                    </div>

                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
                    <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
                    <hr>
                    <div class="login">
                        <small class="text-body-secondary">Already registered? <a th:href="@{/users/login}"><span>Login</span></a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <th:block th:insert="~{fragments/footer}"></th:block>

    <script type="text/javascript" th:src="@{/js/validation-checker.js}"></script>

</body>
</html>
